botconfig.json
/node_modules
eval.js
commands-enable.js
command-disable.js
.env
/commands/add-balance.js
/commands/amongus.js
/commands/audio.js
/commands/balance.js
/commands/captcha.js
/commands/help2.js
/commands/inspiration.js
/commands/invites.js
/commands/levelcheck.js
/commands/list.js

/commands/create.js
/commands/pay.js
/commands/poke.js
/commands/set-lang.js
