<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>NecroAtomic Bot Commands</title>
    </head>

    <body>
        <a href="/"><img class = "avatar" src = "https://i.pinimg.com/originals/38/d4/f0/38d4f02213098dc81dd55360a148066b.jpg" alt="avatar"></a>
        <section class "main-content">
            <p>To use the help command in discord, is <code>!necro help</code>to view the commands</p>

            <% commands.forEach({name, value} => { %>
                <table style="width: 100%">
                    <h1 style="text-align: center;">
                        <%=name %>
                    
                    </h1>
                    <tr>
                        <th>Command Name</th>
                        <th>Description</th>
                    </tr>
                    <% value.forEach(({name, description}) => { %>
                        <tr>
                            <td><%= name%></td>
                            <td><%= description%></td>
                        </tr>

                   <% }) %>
                </table>
            <%}) %>
        </section>
    
    </body>
</html>