include includes/mixins
doctype html
html(lang="en")
    head
     include includes/header.pug
    body
     include includes/navbar.pug
     .container
        .jumbotron.text-center.bg-transparent
          h1.display-3 Commands
          p.lead View Necro's Commands
          hr
     section#commands
     .row
        .col-sm-3
          each category in categories
            +category(category)
        .col-sm-9
          each command in commands
              
          ul.list-group.mb-2
            li.list-group-item test 

     