doctype html
html(lang="en")
    head
     include includes/header.pug
     link(rel = 'stylesheet', href = '/css/index.css')
    body
     include includes/navbar.pug
     .jumbotron.text-center.bg-transparent
        h1.display-3 NecroAtomicBot
        p.lead An All-Encompasing Open Source Discord Bot.
         i.fas.fa-star.pl-2
        button.btn.btn-dark Add

